body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header{
    background-color: black;
    color: orangered;
    height: 12vh;
    font-weight: bolder;
    border-bottom: 3px solid orangered;
    width: 100%;
    position: fixed;
}

header h1{
    margin: 0;
    padding-top: 0.5em;
    padding-left: 0.5em;
}

.section1{
    text-align: center;
    background: url(images/b_img1.jpg);
    background-size: cover;
    height: 90vh;
    color: cornsilk;
    padding-top: 10vh;
    background-attachment: fixed;
}

.section1 img{
    border-radius: 50%;
    height: 250px;
    width: 250px;
    padding-top: 2vh;
    border: red solid 3px;
    box-shadow:20px 10px 50px white;
    transition: transform ease-out 1s;
}

.section1 img:hover{
    transform:scale(1.5,1.5);
}

.section1 p{
    width: 60vw;
    margin: 5vw auto;
    font-family: 'Comforter Brush', cursive;
    font-size: 20px;
}

.section1 #profile_link{
    text-decoration: none;
    display:block;
    background-color: orangered;
    color: white;
    width: 8vw;
    border-radius: 10px;
    margin: 5vh auto;
    padding: .4em .3em;
    border: 2px solid white;
}

.section1 #profile_link:hover{
    border: 2px solid orangered;
    color: rgb(200, 207, 223);
    background-color: white;
}

.section2{
    background: url(images/b_img3.jpg);
    background-size: cover;
    color: white;
    height: 50vh;
    padding: 1.5em;
}

footer{
    background-color: rgb(66, 62, 62);
    color: white;
    height: 40vh;
    padding-top: 1.5em;
    border-top: 3px solid orangered;
}

#icon{
    color:white;
    font-size: 30px;
}

.a{
    display: inline-block;
    background-color: bisque;
    width: 200px;
    /* height: 40px; */
    text-decoration: none;
    color: brown;
    font-weight: bolder;
    padding: 20px;
}


